@font-face {
  font-family: "Nanito";
  src: url("../src/assets/fonts/nunitoSans.ttf");
  font-weight: 300 600 800;
}

:root {
  --dark-blue: hsl(209,23%,22%);
  --very-dark-blue: hsl(0,0%,100%);
  --ligh-mode-font: hsl(200,15%,8%);
  --dark-gray: hsl(0, 0%, 52%);
  --very-ligth-gray: hsl(0,0%,98%);
  --white-base: hsl(0,0%,100%)
}

@layer reset {
  *, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

  html,body {
    height: 100%;
  }

  body {
    font-family: "Nanito Sans", sans-serif;
    line-height: 1.5;
  }


  a {
    text-decoration: none;
    color: inherit
  }

  ul, ol {
    list-style: none;
  }

  input, button, textarea, select {
    font: inherit;
  }

  button, input, select{
    border: none;
    outline:none;
    background: none;
  }
}

@layer base {
  h1,h2 {
    color: var(--heading-foreground-color,var(--ligh-mode-font));
    font-size: var(--heading-font-size, 1rem);
  }

  p {
    color: var(--text-foreground-color, var(--ligh-mode-font));
  }

  span {
    color: var(--span-foreground-color, var(--dark-gray));
  }

  input {
    padding: .8rem;
    color: var(--input-text-foreground, var(--dark-blue));
  }
  
  ion-icon {
    font-size: 14px;
    color: var(--icon-foreground-color,var(--dark-gray));
  }

  input::placeholder {
    color: var(--input-placeholder-foreground, var(--dark-gray));
  } 


  p {
    color: var();
  }
}

@layer layout {
  .main_container {
    .top_section_container {
      display: flex;
      justify-content: space-between;
      padding: 2rem;
      -webkit-box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.11);
      -moz-box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.11);
      box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.11);
      button {
        display: flex;
        align-items: center;
        ion-icon {
          margin-inline-end: .5rem;
        }
      } 
    }
    .search_filter_container {
     margin-block-start: 2rem; 
      .search_container {
        display: flex;
        align-items: center;
        width: 95%;
        max-width: 450px;
        margin: 0 auto;
        margin-block-end: 1rem;
        padding-inline: 1rem;
        -webkit-box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.11);
        -moz-box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.11);
        box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.11);
      }

      .filter_container {
        select {
          width: 200px;
          padding: 1rem;
          box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.11);
          -webkit-box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.11);
          -moz-box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.11);
        }
      }
    }

    .country_cards_container {
      display: grid;
      grid-template-columns: repeat(1fr, auto-fill);
      justify-items: center;
      margin-block-start: 1rem;
      .country_card_container {
        width: 90%;
        max-width: 420px;
        -webkit-box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.11);
        -moz-box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.11);
        box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.11);
      }
      .card_info {
        padding: 1rem;
      }
    }
  }
}
