@font-face {
  font-family: "Nanito";
  src: url("../src/assets/fonts/nunitoSans.ttf");
  font-weight: 300 600 800;
}

:root {
  --dark-blue: hsl(209,23%,22%);
  --very-dark-blue: hsl(207,26%,17%);
  --ligh-mode-font: hsl(200,15%,8%);
  --dark-gray: hsl(0, 0%, 52%);
  --very-ligth-gray: hsl(0,0%,98%);
  --white-base: hsl(0,0%,100%)
}

@layer reset {
  *, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

  html,body {
    height: 100%;
  }

  body {
    font-family: "Nanito Sans", sans-serif;
    line-height: 1.5;
  }


  a {
    text-decoration: none;
    color: inherit
  }

  ul, ol {
    list-style: none;
  }

  input, button, textarea, select {
    font: inherit;
  }

  button, input, select{
    border: none;
    outline:none;
    background: none;
  }
}

@layer base {
  h1,h2 {
    font-family: Nanito;
    color: var(--heading-foreground-color,var(--ligh-mode-font));
    font-size: var(--heading-font-size, 1rem);
  }

  p {
    font-family: Nanito;
    color: var(--text-foreground-color, var(--ligh-mode-font));
  }

  span {
    color: var(--span-foreground-color, var(--dark-gray));
  }

  input {
    padding: .8rem;
    color: var(--input-text-foreground, var(--dark-blue));
  }
  
  ion-icon {
    font-size: 14px;
    color: var(--icon-foreground-color,var(--dark-gray));
  }

  input::placeholder {
    color: var(--input-placeholder-foreground, var(--dark-gray));
  } 


  p {
    color: var();
  }

}

@layer layout {
  .main_container {
    .top_section_container {
      display: flex;
      justify-content: space-between;
      padding-block: 2rem;
      padding-inline: 1rem;
      -webkit-box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.11);
      -moz-box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.11);
      box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.11);
      button {
        display: flex;
        align-items: center;
        font-size: .89rem;
        cursor: pointer;
        ion-icon {
          margin-inline-end: .5rem;
        }
      } 
    }
    .search_filter_container {
      margin-block-start: 1.5rem; 
      padding: 1rem; 
      .search_container {
        display: flex;
        align-items: center;
        width: 100%;
        height: 50px;
        max-width: 450px;
        margin: 0 auto;
        margin-block-end: 1rem;
        padding-inline: 1rem;
        -webkit-box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.11);
        -moz-box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.11);
        box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.11);
        border-radius: 5px;

        ion-icon {
          font-size: 20px;
        }

        input {
          width: 100%;
          font-family: Nanito;
          font-size: .89rem;
          font-weight: 300;
        }
      }

      .filter_container {
        margin-block-start: 3rem;
        select {
          width: 220px;
          padding: 1rem;
          font-size: .89rem;
          font-family: Nanito;
          font-weight: 300;
          box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.11);
          -webkit-box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.11);
          -moz-box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.11);
          border-radius: 5px;
          cursor: pointer;
        }
      }
    }

    .country_cards_container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(280px, 320px));
      min-width: 320px;
      max-width: 1445px;
      justify-items: center;
      place-content: center;
      margin: 0 auto;
      margin-block-start: 1rem;
      .country_card_container {
        width: 90%;
        max-width: 320px;
        padding-block-end: 2rem;
        margin-block-start: 2rem;
        -webkit-box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.11);
        -moz-box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.11);
        box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.11);
        border-radius: .5rem;
        cursor: pointer;

        img {
          width: 100%;
          height: 50%;
          border-top-left-radius: .5rem;
          border-top-right-radius: .5rem;
        }
      }
      .card_info {
        display: flex;
        flex-direction: column;
        padding-inline: 1.5rem;
        padding-block-start: 1.5rem;
        line-height: 1.9rem;

        h2 {
          margin-block-end: .8rem;
          font-size: 1.2rem;
          font-weight: 800;
        }

        span {
          font-weight: 300;
        }
      }
    }

    .single_country_container {
      min-width: 320px;
      max-width: 1400px;
      margin: 0 auto;
      padding: 1rem;
      .back_btn {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 110px;
        height: 35px;
        margin-block-end: 3rem;
        padding-block: .2rem;
        padding-inline: .5rem;
        font-size: .9rem;
        -webkit-box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.11);
        -moz-box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.11);
        box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.11);
        cursor: pointer;
        ion-icon {
          font-size: 20px;
          color: black;
        }
      }

      .single_country_card {
        margin: 0 auto;
        img {
          width: 100%;
          object-fit: contain;
        }
      }

      .card_info_container {

        h2 {
          margin-block-start: 2rem;
          margin-block-end: 1rem;
          font-size: 1.5rem;
        }

        .card_info {
          display: flex;
          flex-direction: column;
          line-height: 2.3rem;

          .info_first_column {
            margin-block-end: 2rem;
          }
        }

        .borders_container {
          display: flex;
          flex-direction: column;

          h2 {
            display: inline;
            font-size: 1rem;
            font-weight: 600;
          }

          div {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            width: 80%;
            margin: 0 auto;
            .border_btn {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 100%;
              max-width: 100px;
              height: 30px;
              margin-inline-start: .5rem;
              padding-block: .5rem;
              padding-inline: 1rem;
              -webkit-box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.11);
              -moz-box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.11);
              box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.11);
            }
          }
        }
      }
    }
  }
}


@layer media {

  @media (width > 42rem) {
    .main_container {
      .top_section_container {
        padding-inline: 3rem;
      }
    }
    .search_filter_container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-inline: 3rem;
      .search_container {
        margin: 0;
        margin-inline-end: 1rem;
      }

      .filter_container {
        margin: 0;
      }
    }

   .single_country_container {

      .single_country_card {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;

        .card_info_container {
          margin-inline-start: 6rem;
          width: 50%;

          h2 {
            margin: 0;
            margin-block-end: 1rem;
          }

          .card_info {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 100%;
            max-width: 550px;
          }
        }

        .borders_container {
          display: flex;
          flex-direction: row;
          align-items: center;

          h2 {
            margin: 0;
          }

          div {
            justify-content: start;
          }
        }
      }
    }
  }

  @media (width > 58rem) {
    
    .single_country_card {
      img {
        width: 100%;
        max-width: 600px;
        height: 330px;
        object-fit: fill;
      }

    .borders_container {
        h2 {
          width: 30%;
          margin: 0;
        }
      }
    }
  }
}


@layer dark-mode {
  .dark_mode.main_container {
    h1,h2 {
      --heading-foreground-color: var(--white-base); 
    }

    p {
      font-weight: 600;
      --text-foreground-color: var(--white-base); 
    }

    input,input::placeholder, select, option {
      color: var(--white-base);
      background-color: var(--dark-blue);
    }

    span {
      color: var(--white-base);
      font-weight: 300;
    }

    button {
      font-size: .89rem;
      font-weight: 300;
      color: var(--white-base);
      ion-icon {
        color: var(--white-base);
      }
    }
    background-color: var(--very-dark-blue);
    .top_section_container {
      background-color: var(--dark-blue);
    }

    .search_filter_container {
      .search_container {
        background-color: var(--dark-blue);
        ion-icon {
          color: var(--white-base);
        }
      }
    }

    .country_card_container {
        background-color: var(--dark-blue);
    }
  }
}

@layer utils {
  .hidden {
    display: none;
  }
}
